<!doctype html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>

    {{#if headerImage}}
        <header class="text-white header-image" style="background-image: url({{headerImage}});">
            <div class="shadow">
                {{> nav}}
            </div>
        </header>
        <div class="container px1">
            <br>
            <!-- <h1 style="display: block;">{{title}}</h1> -->
        </div>
    {{else}}
        <header>
            {{> nav}}
            <div class="container py2 px1">
                <h1>{{title}}</h1>
            </div>
        </header>
    {{/if}}

    {{#if content}}
        <main class="container px1">
            {{{content}}}
        </main>
    {{/if}}

    {{> footer}}

</body>
</html>
